{
  'rules': {
    'indent': [2, 2],
    'quotes': [2, 'single'],
    'linebreak-style': [2, 'unix'],
    'semi': [2, 'always'],
    'comma-style': [2, 'last'],
    'comma-dangle': [2, 'only-multiline'],
    'no-console': [1],
    'no-unused-vars': [1],
    'require-yield': [0],
  },
  'parserOptions': {
    'ecmaFeatures': {
      'modules': true,
      'experimentalObjectRestSpread': true,
    },
  },
  'env': {
    'es6': true,
    'node': true,
    'mocha': true,
  },
  'extends': 'eslint:recommended'
}
